<div class="row pt-3 bg-white">
  <div class="col-12">
    <h1><%= t 'views.company_tours.edit' %></h1>
  </div>
</div>
<div class="row toolbar border-top bg-light d-print-none">
  <div class="col-8">
    <h4><%= Tour.model_name.human %> <%= @record.start_time.strftime('%d.%m.%Y') %></h4>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h3><%= seconds_to_h_min(@record.duration_seconds) %></h3>
      </div>
      <div class="col-md-6">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar bg-success" data-toggle="tooltip" title="Fahrzeit für Kundenobjekte" role="progressbar" style="width: <%= @record.drives_percentage %>%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><%= distance_of_time_in_words(@record.drives_duration) %></div>
          <div class="progress-bar bg-danger" data-toggle="tooltip" title="Leerfahrt" role="progressbar" style="width: <%= @record.empty_drive_percentage %>%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%= distance_of_time_in_words(@record.empty_drive_time) %></div>
        </div>
      </div>
    </div>
    <dl class="row" style="margin-bottom: 0">
      <dt class="col-sm-3">Fahrer:</dt>
      <dd class="col-sm-9" style="margin-bottom: 0"><%= @record.driver.name %></dd>
    </dl>
    <dl class="row" style="margin-bottom: 0">
      <dt class="col-sm-3">Start:</dt>
      <dd class="col-sm-9" style="margin-bottom: 0"><%= @record.start_time.strftime('%H:%M') %></dd>
    </dl>
    <dl class="row" style="margin-bottom: 0">
      <dt class="col-sm-3">Ende:</dt>
      <dd class="col-sm-9" style="margin-bottom: 0"><%= @record.end_time.strftime('%H:%M') %></dd>
    </dl>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-12">
        <%= link_to new_company_tour_drife_path(current_company, tour_id: @record),
                    class: "btn btn-primary pull-right",
                    title: t('views.company_tours.add_drive_description'),
                    data_toggle: 'tooltip' do %>

          <i class="fa fa-plus"></i> <%= t 'views.company_tours.add_drive' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <% if @record.drives.empty? %>
          <div class="alert alert-info"><%= t('views.tours.empty') %></div>
        <% else %>
          <%= render partial: '/company/drives/drive', collection: @record.drives, locals: { tools: true, tour: @record } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
