<div class="row bg-white pt-3">
  <div class="col-sm-6">
    <h1><%= t 'views.company_tours.title' %></h1>
  </div>
  <div class="col-auto ml-auto">
    <%= render 'shared/season_selector' %>
  </div>
</div>
<div class="row toolbar border-top bg-light p-2 d-print-none">
  <div class="col">
    <form class="form form-inline">
      <div class="btn-group mr-4" role="group">
        <%= link_to company_tours_path, class: "btn btn-secondary  #{current_page?(controller: :tours, action: :index) ? 'active' : ''}" do %>
          <i class="fa fa-location-arrow"></i>&nbsp;<%= t 'views.company_tours.title' %>
        <% end %>
        <%= link_to company_drives_path, class: "btn btn-secondary #{current_page?(controller: :drives, action: :index) ? 'active' : ''}" do %>
          <i class="fa fa-truck"></i>&nbsp;<%= t'views.company_drives.title' %>
        <% end %>
      </div>
      <div class="form-group mr-2">
        <label class="label mr-2"><%= Driver.model_name.human %></label>
        <%= select_tag(:driver_id,
                       options_from_collection_for_select(current_company.active_drivers.order(:name), 'id', 'name', params[:driver_id]),
                       class: 'dropdown-select',
                       data: {s2: true, submit_on_change: true},
                       include_blank: t('common.all')) %>
      </div>
    </form>
  </div>
  <div class="col-3 button-group">
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <%= render partial: 'company/shared/seasonal_stats', locals: { stats: @stats } %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div id="tours">
              <%= render partial: 'tour', collection: @records, locals: { tools: true} %>
            </div>
            <%= paginate @records %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>