<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t 'dashboard.cards.driver_info.title' %></h5>
    <% if current_driver.company %>
      <h4><%= current_driver.company.name %></h4>
    <% else %>
      <h4><%= t 'dashboard.cards.driver_info.private' %></h4>

      <% if current_user.owens_company %>
        <%= link_to t('dashboard.cards.driver_info.link_with_company'), company_drivers_path(current_user.owned_companies.first) %>
      <% else %>
        <div class="alert alert-info"><%= t 'dashboard.cards.driver_info.no_company' %></div>
        <%= link_to new_company_path, class: 'btn btn-secondary' do %>
          <%= t 'navbar.main.new_company' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>