<div class="card">
  <div class="card-body">
    <%= link_to t('dashboard.cards.last_drives.show_all'), drives_path, class: 'float-right' %>
    <h5 class="card-title"><%= t 'dashboard.cards.last_drives.title' %></h5>
    <table class="table">

      <tbody>
      <% @last_drives.each do |drive| %>
        <tr>
          <td><%= l drive.start, format: '%a %d.%m.%Y' %></td>
          <td><%= seconds_to_h_min(drive.duration_seconds) %></td>
          <td><strong><%= number_to_human drive.distance_km %>km</strong></td>
          <td><%= drive.tasks %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% if @last_drives.empty? %>
      <div>
        <%= t 'views.common.info.no_data_available' %>
      </div>
    <% end %>
  </div>
</div>