<div class="card text-dark bg-light col-12">
  <div class="card-body">
    <h5 class="card-title"><%= t 'dashboard.cards.new_drive.title' %></h5>
    <%= form_with(model: Drive.new, local: true) do |form| %>
      <div class="form-row">
        <div class="form-group col-md-2">
          <%= form.label :start %>
          <%= form.text_field :start, type: 'time', step: '60', required: true, id: :drive_start, class: 'form-control' %>
        </div>

        <div class="form-group col-md-2">
          <%= form.label :end  %>
          <%= form.text_field :end, type: 'time', step: '60', required: true, id: :drive_end, class: 'form-control' %>
        </div>
        <div class="form-group col-md-2 col-lg-1">
          <label>Art</label>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <%= form.check_box :plowed, id: :drive_plowed, class: 'form-check-input' %>
              <%= form.label :plowed, class: 'form-check-label' %>
            </div>
            <div class="form-check form-check-inline">
              <%= form.check_box :salted, id: :drive_salted, class: 'form-check-input' %>
              <%= form.label :salted, class: 'form-check-label' %>
            </div>
            <div class="form-check form-check-inline">
              <%= form.check_box :salt_refilled, id: :drive_salt_refilled, class: 'form-check-input', data: { collapse_on_change: 'salt-amount' } %>
              <%= form.label :salt_refilled, class: 'form-check-label' %>
            </div>
          </div>
        </div>
        <div class="form-group col-md-2 col-lg-1">
          <%= form.label :distance_km %>
          <%= form.text_field :distance_km, type: 'number', required: true, min: '0', step: '0.1', id: :drive_distance_km, class: 'form-control autoselect' %>
        </div>
        <div class="form-group col-md-2 col-lg-1 collapse" id="salt-amount">
          <%= form.label :salt_amount_tonns %>
          <%= form.text_field :salt_amount_tonns, type: 'number', required: true, min: '0', step: '0.01', id: :drive_salt_amount_tonns, class: 'form-control' %>
        </div>
        <div class="col-12">
          <%= form.button type: :submit, class: 'btn btn-primary' do %>
            OK
          <% end %>
        </div>
      </div>

    <% end %>

  </div>
</div>