<div class="card">
  <div class="card-body">
    <%= link_to t('dashboard.cards.standby_dates.show_all'), standby_dates_path, class: 'float-right' %>
    <h5 class="card-title"><%= t 'dashboard.cards.standby_dates.title' %></h5>
    <table class="table">
      <thead>
      <tr>
        <th><%= StandbyDate.human_attribute_name(:week_nr) %></th>
        <th><%= StandbyDate.human_attribute_name(:start_date) %></th>
        <th><%= StandbyDate.human_attribute_name(:day_count) %></th>
      </tr>
      </thead>

      <tbody>
      <% @standby_weeks.each do |standby_date| %>
        <tr>
          <td><%= standby_date.week_nr %></td>
          <td><%= l standby_date.start_date, format: '%a %d.%m.%Y' %></td>
          <td><%= standby_date.day_count %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2"><%= t 'standby_dates.summary_row' %></th>
          <th><%= @standby_weeks.inject(0) { |sum, w| sum + w.day_count} %></th>
        </tr>
      </tfoot>
      <% if @standby_weeks.empty? %>
        <div>
          <%= t 'views.common.info.no_data_available' %>
        </div>
      <% end %>
    </table>
  </div>
</div>