<div class="row bg-image-plow justify-content-center">
  <% if current_driver.recording? %>
    <%= render 'drive_recording' %>
  <% else %>
    <%= render 'new_drive' %>
  <% end %>
</div>
<div class="row mt-5">
  <div class="col-sm-6 col-lg-4">
    <%= render 'standby_dates' %>
  </div>
  <div class="col-sm-6 col-lg-4">
    <%= render 'last_drives' %>
  </div>
  <div class="col-sm-6 col-lg-4">
    <%= render 'driver_info' %>
  </div>
</div>