<div class="card-deck mt-5">
  <div class="card m-3">
    <div class="mt-4 p-3 text-center">
      <h1><i class="fa fa-8x fa-user"></i></h1>
      <h2><%= t('views.setup.use_as_driver_title') %></h2>
    </div>
    <div class="card-body">
      <%= t('views.setup.use_as_driver_instructions_html') %>

      <%= bootstrap_form_with(model: DriverApplication.new, remote: false) do |f| %>
        <%= f.email_field :recipient, required: true, placeholder: t('forms.placeholders.driver_applications.recipient'), append: f.submit(class: 'btn btn-primary') %>
      <% end %>
      <div class="text-center">
        <h3><%= t 'views.setup.install_app_title' %></h3>
        <div class="row">
          <div class="col-6">
            <%= link_to 'https://play.google.com/store/apps/details?id=ch.innodrive.fahrzeit' do %>
              <%= image_tag 'google_play_btn.png', width: '100%' %>
            <% end %>
          </div>
          <div class="col-6">
            <%= link_to 'https://apps.apple.com/us/app/fahrzeit/id1485173488' do %>
              <%= image_tag 'app_store_btn.png', width: '100%' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card m-3">
    <div class="mt-4 p-3 text-center">
      <h1><i class="fa fa-building-o"></i></h1>
      <h2><%= t('views.setup.create_company_title') %></h2>
    </div>
    <div class="card-body text-center">
      <h3 class="text-secondary"><%= t('views.setup.price_title') %></h3>
      <%= t('views.setup.prices_html') %>
      <%= link_to t('views.setup.calculate_price'), 'https://www.fahrzeit.ch/preis-kalkulieren/', target: '_blank' %>
      <form method="get" action="<%= new_company_path %>" class="form text-left mt-3">
        <div class="form-group">
          <label for="name"><%= Company.human_attribute_name(:name) %></label>
          <input id="name" name="name" required="required" class="form-control">
        </div>
        <div class="form-group">
          <label for="contact_email"><%= Company.human_attribute_name(:contact_email) %></label>
          <input id="contact_email" name="contact_email" type="email" required="required" class="form-control">
        </div>
        <%= submit_tag t('views.setup.create_company'), class: 'btn btn-primary form-control' %>
      </form>
    </div>
  </div>
  <div class="card m-3">
    <div class="mt-4 p-3 text-center">
      <h1><i class="fa fa-support"></i></h1>
      <h2><%= t('views.setup.support_title') %></h2>
    </div>
    <div class="card-body">
      <%= t('views.setup.support_content_html') %>
    </div>
    <div class="bg-primary text-light card-body">
      <div class=""><i class="fa fa-envelope"></i> info@fahrzeit.ch</div>
      <div class=""><i class="fa fa-phone"></i> +41 44 586 21 26</div>
      <div class=""><i class="fa fa-map"></i> Am Bächli 13, 8805 Richterswil</div>
    </div>
  </div>
</div>
