<div class="card mt-3">
  <div class="card-header">
    <%= render 'navigation/company_edit_nav' %>
  </div>

  <div class="card-body">
    <h4 class="card-title"><%= link_to t('views.companies.drivers.title'), company_drivers_path(current_company) %> / <%= @driver.name %></h4>

    <h5><%= t'views.companies.drivers.edit' %></h5>
    <%= form_for([current_company, @driver], builder: BootstrapFormBuilder) do |f| %>
      <%= f.select :user, company_driver_user_selection_options, {prompt: t('views.company_drives.select_promt')}, {class: 'custom-select col-sm-4'} %>
      <%= f.submit class: 'col-sm-2 btn btn-primary', data: { disable_with: is_processing(true) } do %><i class="fa fa-check"></i><% end %>
    <% end %>

  </div>
</div>
