<div class="row bg-white pt-3">
  <div class="col-sm-6">
    <h1><%= t 'views.companies.drivers.title' %></h1>
  </div>
</div>
<div class="row toolbar border-top bg-light p-2 d-print-none">
  <div class="col">
    <%= render 'form' %>
  </div>
</div>
<div class="card mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex flex-row align-items-right">
      <%= form_with(url: url_for(@params), method: :get, class: 'ml-auto') do |f| %>
        <div class="custom-control custom-switch m-2">
          <input type="checkbox" class="custom-control-input" id="showOthers" name="show_inactive" <%= params[:show_inactive] ? 'checked' : '' %> data-submit-on-change="true">
          <label class="custom-control-label" for="showOthers"><%= t('views.companies.drivers.show_inactive') %></label>
        </div>
      <% end %>
    </li>
    <%= render @drivers %>
  </ul>
</div>