<li class="list-group-item d-flex flex-row align-items-center" id="company-member-<%= activity.id %>">
  <div class="p-2"><%= activity.name %> <br><small><%= activity.value_label %></small></div>
  <div class="p-2">
    <% activity.vehicles.kept.pluck(:name).each do |name| %>
      <span class="badge badge-pill badge-secondary"><%= name %></span>
    <% end %>
  </div>
  <%= item_tools do %>
    <%= edit_button([current_company, activity]) %>
    <% unless activity.activity_executions.any? %>
      <%= delete_button([current_company, activity])%>
    <% end %>
  <% end %>
</li>