<% if drive_attr_enabled?(:customer) %>
<div class="form-group col-md-2 col-lg-1">
  <div class="form-group">
    <%= form.label :customer %>
    <%= form.select :customer_id, drive_customer_select_options, { include_blank: true }, data: {s2: true}, class: 'custom-control custom-select' %>
  </div>
</div>
<% end %>
<div class="form-group col-md-2 col-lg-1">
  <label>Aktivität</label>
  <div class="form-group">
    <% available_activities(current_company).each do |activity| %>
      <div class="custom-control custom-radio">
        <%= radio_button_tag 'drive[activity_execution_attributes][activity_id]',
                             activity.id,
                             (form.object.activity_execution.try(:activity_id) == activity.id),
                             id: "activity_#{activity.id}",
                             data: { value_field: { label: activity.value_label, collapse: (activity.has_value ? 'show' : 'hide') } },
                             class: 'custom-control-input' %>

        <%= label_tag "activity_#{activity.id}", activity.name, class: 'custom-control-label' %>
      </div>
    <% end %>
  </div>
</div>
<div class="form-group col-md-2 col-lg-1">
  <%= form.label :distance_km %>
  <%= form.text_field :distance_km, type: 'number', required: true, min: '0', step: '0.1', id: :drive_distance_km, class: 'form-control autoselect' %>
</div>
<div class="form-group col-md-2 col-lg-1 <%= form.object.activity.try(:has_value) ? '' : 'collapse' %>" id="activity_value">
  <%= label_tag 'drive[activity_execution_attributes][activity_value]', form.object.activity.try(:value_label), id: :activity_value_label%>
  <%= number_field_tag 'drive[activity_execution_attributes][value]',
                       form.object.activity_execution.try(:value),
                       required: true,
                       min: '0',
                       step: '0.01',
                       id: :activity_value_field,
                       class: 'form-control' %>
</div>