<div class="d-flex mb-2 border">
  <div class="p-2 mr-2">
    <div class="drive-rate-type-<%= drive.surcharge_rate_type %>"><%= drive.day_of_week %> <%= drive.start.strftime('%d.%m') %></div>
    <div class="text-muted"><small><%= drive.start.strftime('%Y') %></small></div>
  </div>

  <div class="drive-date-times mr-2 p-2">
    <div><%= seconds_to_h_min(drive.duration_seconds) %></div>
    <div class="text-muted">
      <small><%= drive.start.strftime('%H:%M') %>-<%= drive.end.strftime('%H:%M') %></small>
    </div>
  </div>

  <div class="p-2">
    <div><strong><%= drive.distance_km %>km</strong></div>
    <div class="text-muted">
      <small><%= drive.tasks %></small>
      <small>
        <% if drive.activity.try(:has_value) %>(<%= drive.activity_execution.value %>)
        <% end %></small>
    </div>
    <div class="d-block d-md-none"><%= drive.site_name %></div>
  </div>

  <div class="ml-3 mr-2 p-2 d-none d-md-block">
    <div><%= drive.customer_name %></div>
    <div class="text-muted">
      <small><%= drive.site_name %></small>
    </div>
  </div>

  <div class="align-self-center ml-auto mr-2 d-print-none">
    <%= link_to edit_drife_path(drive), title: t('common.edit'), class: 'pull-right btn btn-light' do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to drive, method: :delete, data:
        {
            confirm: t('confirmation.delete'),
            disable_with: is_processing(true)
        }, class: 'pull-right btn btn-danger' do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div>
</div>