
<div class="row mt-3">
  <div class="col-sm-6">
    <h1>Fahrten <span class="d-print-inline d-none"><%= current_driver.name %></span></h1>
  </div>
  <div class="col-sm-6">
    <%= link_to 'Neue Fahrt erfassen', new_drife_path, class: 'btn btn-primary d-print-none float-right' %>
    <a href="javascript:window.print()" class="btn btn-primary d-print-none float-right"><i class="fa fa-print"></i> <%= t('actions.print') %></a>
  </div>
</div>
<div class="row">
  <div class="col-12 table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th><%= Drive.human_attribute_name(:week_nr) %></th>
        <th><%= Drive.human_attribute_name(:day_of_week) %></th>
        <th><%= Drive.human_attribute_name(:date) %></th>
        <th><%= Drive.human_attribute_name(:type) %></th>
        <th><%= Drive.human_attribute_name(:start) %></th>
        <th><%= Drive.human_attribute_name(:end) %></th>
        <th><%= Drive.human_attribute_name(:duration) %></th>
        <th><%= Drive.human_attribute_name(:distance_km) %></th>
        <th><%= Drive.human_attribute_name(:salt_amount_tonns) %></th>
        <th class="d-print-none"></th>
      </tr>
      </thead>

      <tbody>
      <% @drives.each do |drive| %>
        <tr>
          <td><%= drive.week_nr %></td>
          <td><%= drive.day_of_week %></td>
          <td><%= l drive.start.to_date %></td>
          <td><%= drive.tasks.join(', ') %></td>
          <td><%= drive.start.strftime('%H:%M') %></td>
          <td><%= drive.end.strftime('%H:%M') %></td>
          <td><%= drive.duration_as_string %></td>
          <td><%= number_to_human drive.distance_km %></td>
          <td><%= number_to_human drive.salt_amount_tonns if drive.salt_refilled %></td>
          <td class="d-print-none">
            <%= link_to edit_drife_path(drive), class: 'btn btn-default' do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to drive, method: :delete, data: { confirm: t('confirmation.delete') }, class: 'btn btn-default' do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% if @drives.empty? %>
      <div>
        <%= t 'views.common.info.no_data_available' %>
      </div>
    <% end %>
  </div>

</div>