<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @drive.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @drive.end %>
</p>

<p>
  <strong>Distance km:</strong>
  <%= @drive.distance_km %>
</p>

<p>
  <strong>Salt refilled:</strong>
  <%= @drive.salt_refilled %>
</p>

<p>
  <strong>Salt amount tonns:</strong>
  <%= @drive.salt_amount_tonns %>
</p>

<p>
  <strong>Salted:</strong>
  <%= @drive.salted %>
</p>

<p>
  <strong>Plowed:</strong>
  <%= @drive.plowed %>
</p>

<%= link_to 'Edit', edit_drife_path(@drive) %> |
<%= link_to 'Back', drives_path %>
