<%= bootstrap_devise_error_messages! %>
<div class="card card-default devise-bs">
  <div class="card-header">
    <%= t('.sign_up', default: 'Sign up') %>
  </div>
  <div class="card-body">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      <%= f.text_field :name, autofocus: true, required: true %>
      <%= f.email_field :email, required: true %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= render 'policy_terms/required' %>
      <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render 'devise/shared/links' %>
