<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex">
      <div class="mr-5">
        <h3><%= t 'views.stats.total_distance' %></h3>
        <strong><%= stats.distance %></strong>
      </div>
      <div class="mr-5">
        <h3><%= t 'views.stats.duration' %></h3>
        <strong><%= seconds_to_h_min(stats.duration_seconds) %></strong>
      </div>
      <% stats.activity_values.each do |av| %>
        <div class="mr-5">
          <h3><%= av[:title] %></h3>
          <strong><%= av[:total] %></strong>
        </div>
      <% end %>
    </div>
  </div>
</div>