<tr style="border-left: 5px solid <%= driver_color(drive.driver) %>">
  <td><% unless drive.seen? %><i class="fa fa-circle new-label text-info" title="<%= t'common.new' %>"></i><% end %><%= drive.driver.name %></td>
  <td><%= drive.week_nr %></td>
  <td class="drive-rate-type-<%= drive.surcharge_rate_type %>-bg"><%= drive.day_of_week %></td>
  <td><%= l drive.start.to_date %></td>
  <td><%= drive.tasks.join(',') %></td>
  <td><%= drive.start.strftime('%H:%M') %></td>
  <td><%= drive.end.strftime('%H:%M') %></td>
  <td><%= drive.duration_as_string %></td>
  <td><%= number_to_human drive.salt_amount_tonns if drive.salt_refilled %></td>
  <% if local_assigns[:tools] && policy(drive).edit? %>
    <td class="d-print-none">
      <%= link_to edit_company_drife_path(current_company, drive), class: 'btn btn-light' do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <%= link_to company_drife_path(current_company, drive), method: :delete, class: 'btn btn-danger', data: { confirm: t('confirm.company.delete_drive') } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </td>
  <% end %>
</tr>