<tr style="border-left: 5px solid <%= driver_color(drive.driver) %>">
  <td><%= drive.driver.name %></td>
  <td><%= drive.week_nr %></td>
  <td><%= drive.day_of_week %></td>
  <td><%= l drive.start.to_date %></td>
  <td><%= drive.tasks.join(',') %></td>
  <td><%= drive.start.strftime('%H:%M') %></td>
  <td><%= drive.end.strftime('%H:%M') %></td>
  <td><%= drive.duration_as_string %></td>
  <td><%= number_to_human drive.salt_amount_tonns if drive.salt_refilled %></td>
  <% if local_assigns[:tools] %>
    <td class="d-print-none">
      <%= link_to drive, method: :delete, class: 'btn btn-default', data: { confirm: t('confirm.company.delete_drive') } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </td>
  <% end %>
</tr>