<div class="row bg-white pt-3">
  <div class="col-sm-6">
    <h1><%= t 'views.company_drives.title' %></h1>
  </div>
  <div class="col-auto ml-auto">
    <%= render 'shared/season_selector' %>
  </div>
</div>
<div class="row toolbar border-top bg-light p-2 d-print-none">
  <div class="col">
    <form class="form form-inline">
      <div class="btn-group mr-4" role="group">
        <%= link_to company_tours_path, class: "btn btn-secondary  #{current_page?(controller: :tours, action: :index) ? 'active' : ''}" do %>
          <i class="fa fa-location-arrow"></i>&nbsp;<%= t 'views.company_tours.title' %>
        <% end %>
        <%= link_to company_drives_path, class: "btn btn-secondary #{current_page?(controller: :drives, action: :index) ? 'active' : ''}" do %>
          <i class="fa fa-truck"></i>&nbsp;<%= t 'views.company_drives.title' %>
        <% end %>
      </div>
      <div class="form-group mr-2">
        <label class="label mr-2"><%= Driver.model_name.human %></label>
        <%= select_tag(:driver_id,
                       options_from_collection_for_select(current_company.drivers.order(:name), 'id', 'name', params[:driver_id]),
                       class: 'dropdown-select',
                       data: {s2: true, submit_on_change: true},
                       include_blank: t('common.all')) %>
      </div>
      <% if(drive_attr_enabled?(:customer)) %>
        <div class="form-group">
          <label class="mr-2"><%= Customer.model_name.human %></label>
          <%= select_tag(:customer_id,
                         options_from_collection_for_select(current_company.customers, 'id', 'name', params[:customer_id]),
                         class: 'dropdown-select',
                         data: {s2: true, submit_on_change: true},
                         include_blank: t('common.all')) %>
        </div>
      <% end %>
    </form>
  </div>
  <div class="col-3 button-group">
    <a href="<%= url_for(params.to_unsafe_h.merge(format: :xlsx))  %>" class="btn btn-primary d-print-none float-right"><i class="fa fa-download"></i> <%= t('actions.download_xlsx') %></a>
    <a href="javascript:window.print()" class="btn btn-outline-primary d-print-none float-right"><i class="fa fa-print"></i> <%= t('actions.print') %></a>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <%= render partial: 'company/shared/seasonal_stats', locals: {stats: @stats} %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div id="drives">
              <%= render partial: '/drives/drive_list', locals: { drives: @drives } %>
            </div>

            <%= paginate @drives %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>