<div class="form-group" id="requiredValues">
  <%= f.label(:requires_value_for_ids) %>
  <%= f.collection_check_boxes :requires_value_for_ids, Activity.where(company: current_company, has_value: true), :id, :name_and_value_label do |k| %>
    <div class="custom-control custom-switch">
      <%= k.check_box({class: 'custom-control-input'}) %>
      <%= k.label({class: 'custom-control-label'}) %>
    </div>
  <% end %>
</div>
<hr>
<div class="form-group" id="siteInfo">
  <%= f.label :site_info %>
  <%= f.fields_for :site_info, f.object.site_info do |fields| %>
    <%= render 'company/sites/site_info_fields', f: fields %>
  <% end %>
  <div class="links max-one-association">
    <%= link_to_add_association t("views.companies.sites.add_site_info"), f, :site_info, force_non_association_create: true, class: 'btn btn-outline-secondary' %>
  </div>
</div>