<li class="list-group-item d-flex flex-row align-items-center" id="company-member-<%= site.id %>">
  <div class="p-2"><%= site.display_name %> <br><small><%= site.details %></small></div>
  <% unless site.active %>
    <span class="badge badge-secondary"><%= t 'activerecord.attributes.inactive' %></span>
  <% end %>
  <%= item_tools do %>
    <% edit_button([current_company, site.customer, site]) %>
    <% unless site.drives.any? %>
      <%= delete_button([current_company, site.customer, site]) %>
    <% end %>
  <% end %>
</li>