<div class="nested-fields mb-1 p-2">
  <div class=" d-flex">
    <div class="flex-grow-1">
      <%= f.select :activity_id, current_company.activities.pluck(:name, :id), hide_label: true, include_blank: true %>
    </div>
    <div class="flex-grow-1 mx-2">
      <%= f.fields_for :activity_fee do |hrf| %>
        <div class="input-group">
          <%= hrf.text_field :price %>
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"><%= hrf.object.price.currency %></span>
          </div>
        </div>
        <%= hrf.hidden_field :valid_from, value: Season.current.start_date %>
      <% end %>
    </div>
    <div class="form-group">
      <%= link_to_remove_association( t("views.vehicles.remove_activity"), f, class: "btn btn-outline-danger") %>
    </div>
  </div>
</div>