<%= title_row t('views.companies.sites.edit') %>
<%= toolbar_row do %>
  <div class="col">
    <h4 class="card-title">
      <%= link_to t('views.companies.customers.title'), company_customers_path(current_company) %> /
      <%= link_to @customer.name,
                  edit_company_customer_path(company_id:
                                               current_company.to_param,
                                             id: @customer.to_param) %> /
      <%= @site.display_name %>
    </h4>
  </div>
<% end %>

<div class="row mt-3">
  <%= render 'form' %>
  <%= render 'map' %>
</div>