<div class="row bg-white pt-3">
  <div class="col-sm-6">
    <h1><%= t 'views.companies.sites.edit' %></h1>
  </div>
</div>
<div class="row toolbar border-top bg-light p-2 d-print-none">
  <div class="col">
    <h4 class="card-title"><%= link_to t('views.companies.customers.title'), company_customers_path(current_company) %> /
      <%= link_to @customer.name,
                  edit_company_customer_path(company_id:
                                                 current_company.to_param,
                                             id: @customer.to_param) %> /
      <%= @site.display_name %>

    </h4>
    <form class="form form-inline">
      <!-- May insert search and filter -->
    </form>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="tools pull-right">
          <% if @site.drives.empty? %>
          <%= link_to company_customer_site_path(company_id: current_company.to_param, customer_id: @customer.to_param, id: @site),
                      method: :delete,
                      data: { disable_with: is_processing(true) },
                      remote: true,
                      class: 'btn btn-danger' do %>
            <i class="fa fa-trash"></i>
            <%= t 'actions.delete' %>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="tools -pull-right">
          <p><%= t 'views.companies.sites.location_panel_header' %></p>
        </div>
      </div>
      <div class="card-body">
        <div class="alert alert-info">
          <i class="fa fa-question"></i> <spam>Die Markierung oder Linie dient der App zur sortierung der vorgeschlagenen Kundenobjekte.</spam>
        </div>
        <div>
          <%= text_field_tag :location, '', id: 'searchTextField', class: 'form-control' %>
        </div>
        <div class="map-tools">
          <button class="btn btn-primary btn-maptool" id="addMarker" data-infotext="<%= t'maptools.addmarker.infotext' %>"><i class="fa fa-map-marker"></i> <%= t'actions.add_marker' %>n</button>
          <button class="btn btn-primary btn-maptool" id="addLine" data-infotext="<%= t'maptools.addline.infotext' %>"><i class="fa fa-map-marker"></i> <%= t'actions.add_line' %>n</button>
          <span id="toolInfo" style="display: none;" class="map-tools-info"></span><button class="btn btn-primary" style="display: none" id="finishEdit"><i class="fa fa-check"></i> <%= t'actions.finish' %></button>
        </div>
        <div id="map" data-site-id="<%= @site.id %>" data-company-id="<%= current_company.to_param %>" data-customer-id="<%= params[:customer_id] %>"></div>
      </div>
    </div>
  </div>
</div>