<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"><%= @report.report_template.name %></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%= bootstrap_form_tag url: @report.report_template.url, method: "get" do |f|  %>
  <div class="modal-body">
    <%= render "shared/base_errors", record: @report %>
    <% @report.parameters.each do |param| %>
      <%= parameters_field f, param %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t'common.cancel' %></button>
    <%= f.button type: :submit, class: 'btn btn-primary', :formtarget => "_blank" do %><i class="fa fa-check"></i><% end %>
  </div>
  <% end %>
</div>