<%= form_with(model: @resource, local: true, builder: BootstrapFormBuilder, url: companies_path) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
  <div class="form-group">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email, required: true %>
  </div>
  <div class="form-group">
    <div class="form-check">
      <%= form.check_box :add_owner_as_driver, id: :company_registration_add_as_driver, class: 'form-check-input', data: { collapse_on_change: 'transfer-private-drives' }%>
      <%= form.label :add_as_driver, class: 'form-check-label' %>
    </div>
    <div class="form-check collapse" id="transfer-private-drives">
      <%= form.check_box :transfer_private_drives, id: :company_registration_transfer_private_drives, class: 'form-check-input' %>
      <%= form.label :transfer_private_drives, class: 'form-check-label' %>
    </div>
  </div>
  <%= link_to t('common.back'), root_path, class: 'btn btn-default' %>
  <%= form.button type: :submit, class: 'btn btn-primary' do %>
    <i class="fa fa-check"></i> <%= t 'common.create' %>
  <% end %>
<% end %>