<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <%= render 'navigation/company_edit_nav' %>
    </div>

    <div class="card-body">
      <h4 class="card-title"><%= t 'views.companies.edit.title' %></h4>
      <%= render 'form' %>
      <hr class="mb-5 mt-5">
      <h4><%= t('views.companies.edit.destroy_company') %></h4>
      <p><%= t('views.companies.edit.destroy_company_description') %></p>
      <%= link_to t('views.companies.edit.destroy_company'), company_path(current_company), method: :delete, class: 'text-danger', confirm: t('confirm.company.delete_company') %>
    </div>
  </div>
</div>
