<div class="card-body">
  <%= bootstrap_form_for([current_company, @route], local: true) do |f| %>
    <%= f.text_field :name %>
    <%= f.select :site_ordering, [
      [t('activerecord.attributes.driving_route.site_orderings.' + Route::ORDER_BY_DISTANCE), Route::ORDER_BY_DISTANCE],
      [t('activerecord.attributes.driving_route.site_orderings.' + Route::CUSTOM_ORDER), Route::CUSTOM_ORDER]]
    %>
  <%= f.form_group do %>
      <%= f.label :site_entries %>
      <div class="row">
        <div class="col-12" id="site-list-container">
          <ul class="list-group" id="selected_sites" style="min-height: 62px">
            <%= f.fields_for :site_entries do |af| %>
              <%= render "site_entry_fields", f: af %>
            <% end %>
            <div class="links form-group">
              <%= link_to_add_association t('views.companies.driving_route.add_site'), f, :site_entries, class: 'btn btn-outline-secondary' %>
            </div>
          </ul>
        </div>
      </div>

    <% end %>
    <%= f.form_group do %>
      <%= f.button type: :submit, class: 'btn btn-primary', data: { disable_with: is_processing } do %>
        <i class="fa fa-check"></i> <%= t('actions.save') %>
      <% end %>
    <% end %>
  <% end %>
</div>