<%= title_row t("views.companies.routes.edit_title") %>
<%= toolbar_row do %>
  <div class="col">
    <h4><%= link_to DrivingRoute.model_name.human(count: 3), company_driving_routes_path(current_company) %> / <%= t("common.edit") %></h4>
  </div>
<% end %>
<%= content_card do %>
  <%= render "form" %>
<% end %>