<span class="d-none d-sm-inline"><%= l date, format: :short %></span>
<span class="d-sm-none"><%= l date, format: '%d' %></span>

<% stand_by.each do |s| %>
  <div class="" style="background-color: <%= driver_color(s.driver) %>">
    <%= link_to 'x', company_standby_date_path(current_company, s), method: :delete, class: 'text-dark mr-3 float-right d-print-none' %>
    <span class="d-none d-sm-inline"><%= s.driver.name %></span>
    <span class="d-inline d-sm-none"><%= s.driver.name[0..1] %>.</span>
  </div>
<% end %>
<% unless available_drivers_for(stand_by).empty? %>
  <%= form_with(model: [current_company, StandbyDate.new(day: date)], local: true, class: 'd-print-none') do |form| %>
    <%= form.hidden_field :day, id: :standby_date_day %>
    <%= form.select :driver_id, driver_selection_options(stand_by, t('forms.standby_dates.driver_dropdown')), {}, class: 'custom-select autosubmit' %>
  <% end %>
<% end %>