<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to raw(t('simple_calendar.previous', default: 'Previous')), calendar.url_for_previous_view, class: 'btn btn-default' %>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to raw(t('simple_calendar.next', default: 'Next')), calendar.url_for_next_view , class: 'btn btn-default' %>
    <%= calendar_today_link %>
    <%= form_with(url: url_for(@params), method: :get, class: 'pull-right') do |f| %>
      <div class="custom-control custom-switch m-2">
        <input type="checkbox" class="custom-control-input" id="showOthers" name="show_others" <%= params[:show_others] ? 'checked' : '' %> data-submit-on-change="true">
        <label class="custom-control-label" for="showOthers"><%= t('standby_dates.index.show_others') %></label>
      </div>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
