<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"><%= t('views.companies.customers.convert_to_site') %></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%= form_with model: @transition, url: company_customer_to_site_transitions_path(current_company), builder: BootstrapFormBuilder do |f| %>
    <%= f.hidden_field :source_id %>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label :assign_to %>
      <%= f.select :assign_to_id, options_from_collection_for_select(current_company.customers, 'id', 'name') %>
    </div>
    <%= f.fields_for :target do |target_fields| %>
      <div class="form-group">
        <%= target_fields.label :name %>
        <%= target_fields.text_field :name %>
      </div>
      <hr>
      <div class="form-group">
        <%= target_fields.label :street %>
        <%= target_fields.text_field :street %>
      </div>
      <div class="form-group">
        <%= target_fields.label :nr %>
        <%= target_fields.text_field :nr %>
      </div>
      <div class="form-group">
        <%= target_fields.label :zip %>
        <%= target_fields.text_field :zip %>
      </div>
      <div class="form-group">
        <%= target_fields.label :city %>
        <%= target_fields.text_field :city %>
      </div>
    <% end %>
    <hr>
    <div class="alert alert-info">
      <p><%= t('views.companies.customers.convert_to_site_info', count: @transition.affected_drives.count) %></p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.button type: :submit, class: 'btn btn-primary', data: { disable_with: is_processing(true) } do %><i class="fa fa-check"></i><% end %>
  </div>
  <% end %>
</div>