<div class="card mt-3">
  <div class="card-header">
    <%= render 'navigation/company_edit_nav' %>
  </div>

  <div class="card-body">
    <h4 class="card-title"><%= t 'views.companies.app_login.login_info' %></h4>
    <strong><%= t("activerecord.attributes.company_member.user_email") %></strong>
    <p><%= @app_login.user.try(:email) %> <button data-copy="<%= @app_login.user.try(:email) %>" class="ml-3 btn btn-sm btn-outline-dark" data-tooltip="<%= t('tooltip.copy-to-clipboard') %>"><i class="fa fa-copy" ></i></button></p></p>
    <strong><%= t("views.companies.app_login.password") %></strong>
    <p><%= @current_password %> <button data-copy="<%= @current_password %>" class="ml-3 btn btn-sm btn-outline-dark" data-tooltip="<%= t('tooltip.copy-to-clipboard') %>"><i class="fa fa-copy" ></i></button></p>
    <div class="alert alert-warning mt-2">
      <i class="fa fa-exclamation-triangle mr-1"></i><%= I18n.t("views.companies.app_login.password_info") %>
    </div>
    <%= link_to t('actions.back'), :back, class: 'btn btn-primary' %>
  </div>
</div>