<li class="list-group-item" id="company-member-<%= company_member.id %>">
  <div class="row">
    <div class="col-sm-6 px-sm-4">
      <%= company_member.user.name_or_email %>
      <%= render 'invitation_status', member: company_member %>
    </div>
    <div class="col-sm-4">
      <%= t("activerecord.attributes.company_member.roles.#{company_member.role}") %>
    </div>
    <div class="col-sm-2">
      <%= item_tools do %>
        <%= delete_button([current_company, company_member])%>
      <% end %>
    </div>
  </div>
</li>