<div id="company-member-form">
  <h5><%= t 'views.companies.users.add_new' %></h5>
  <%= bootstrap_form_with(model: company_member, url: [current_company, company_member], remote: true) do |f| %>
    <div class="form-row">
      <div class="col">
        <%= f.email_field :user_email, placeholder: t('forms.placeholders.company_member.user_email') %>
      </div>
      <div class="col">
        <%= f.select :role, company_member_role_select_options, label_class: 'prevent-focus', label: label_with_help_for(CompanyMember, :role) %>
      </div>
      <div class="col-1 d-flex align-items-end">
        <div class="form-group">
          <%= f.primary nil, data: { disable_with: is_processing(true) } do %><i class="fa fa-check"></i><% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if company_member.errors.added?(:user, :taken) %>
    <div class="form-row">
      <div class="col-12 alert alert-danger">
        <% company_member.errors[:user].each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>