<div id="company-member-form">
  <h5><%= t 'views.companies.users.invite_new' %></h5>
  <div class="alert alert-info">
    <%= t 'views.companies.users.invite_description' %>
  </div>
  <%= form_with(model: company_member, url: invite_company_company_members_path(current_company), remote: true, builder: BootstrapFormBuilder) do |f| %>
    <div class="form-group">
      <%= f.label :user_email %>
      <%= f.email_field :user_email, disabled: true %>
      <%= f.hidden_field :user_email %>
    </div>
    <div class="form-group">
      <%= f.label :user_name, class: '' %>
      <%= f.text_field :user_name, focus: true %>
    </div>
    <%= f.hidden_field :role %>
    <%= f.button type: :submit, class: 'col-sm-2 btn btn-primary' do %><i class="fa fa-check"></i><% end %>
  <% end %>
</div>