<div class="row">
  <div class="col-md-6">
    <a href="javascript:window.print()" class="btn btn-primary d-print-none float-right"><%= t('actions.print') %></a>
    <h1>Wochen</h1>
    <table class="table">
      <thead>
      <tr>
        <th>KW</th>
        <th>Start</th>
        <th>Anzahl Tage</th>
      </tr>
      </thead>

      <tbody>
      <% @standby_weeks.each do |standby_date| %>
        <tr>
          <td><%= standby_date.week_nr %></td>
          <td><%= l standby_date.start_date, format: "%a %d.%m.%Y" %></td>
          <td><%= standby_date.day_count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="card bg-light d-print-none">
      <div class="card-body">
        <%= form_with(model: StandbyDateRange.new, local: true) do |form| %>
          <% if form.object.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this standby_date from being saved:</h2>

              <ul>
                <% form.object.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <%= form.label :start_date %>
              <%= form.text_field :start_date, value: form.object.start_date.strftime('%Y-%m-%d'), type: 'date', required: true, id: :drive_start_date, class: 'form-control' %>
            </div>

            <div class="form-group col-sm-6">
              <%= form.label :end_date %>
              <%= form.text_field :end_date, value: form.object.end_date.strftime('%Y-%m-%d'), type: 'date', required: true, id: :drive_end_date, class: 'form-control' %>
            </div>
          </div>

          <div class="actions">
            <%= form.submit class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-print-none">
    <h1>Kalender</h1>
    <%= month_calendar events: @standby_dates do |date, stand_by| %>
      <%= l date, format: :short %>

      <% stand_by.each do |s| %>
        <div class="bg-primary">
          <%= link_to 'x', standby_date_path(s), method: :delete, class: 'text-dark mr-3 float-right' %> Pikett
        </div>
      <% end %>
      <% if stand_by.empty? %>
        <%= form_with(model: StandbyDate.new(day: date), local: true) do |form| %>
          <%= form.hidden_field :day, id: :standby_date_day %>
          <%= form.submit 'Neu', class: 'btn' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>