<div class="row mt-3">
  <div class="col-lg-6">
    <a href="javascript:window.print()" class="btn btn-primary d-print-none float-right"><i class="fa fa-print"></i> <%= t('actions.print') %></a>
    <h1>Wochen</h1>
    <table class="table">
      <thead>
      <tr>
        <th>KW</th>
        <th>Start</th>
        <th>Anzahl Tage</th>
      </tr>
      </thead>

      <tbody>
      <% @standby_weeks.each do |standby_date| %>
        <tr>
          <td><%= standby_date.week_nr %></td>
          <td><%= l standby_date.start_date, format: "%a %d.%m.%Y" %></td>
          <td><%= standby_date.day_count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="card bg-light d-print-none">
      <div class="card-body">
        <%= render 'standby_date_ranges/form', record: @range || StandbyDate::DateRange.new %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 d-print-none">
    <h1>Kalender</h1>
    <%= month_calendar events: @standby_dates do |date, stand_by| %>
      <span class="d-none d-sm-inline"><%= l date, format: :short %></span>
      <span class="d-sm-none"><%= l date, format: '%d' %></span>

      <% stand_by.each do |s| %>
        <div class="bg-primary">
          <%= link_to 'x', standby_date_path(s), method: :delete, class: 'text-dark mr-3 float-right' %> Pikett
        </div>
      <% end %>
      <% if stand_by.empty? %>
        <%= form_with(model: StandbyDate.new(day: date), local: true) do |form| %>
          <%= form.hidden_field :day, id: :standby_date_day %>
          <%= form.button class: 'btn', type: :submit do %>
            <i class="fa fa-plus"></i>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>