<div class="card-body">
  <%= bootstrap_form_for([current_company, @record], local: true) do |f| %>
    <%= f.text_field :name %>
    <%= f.fields_for :hourly_rate do |hrf| %>
      <%= hrf.text_field :price, append: hrf.object.price.currency, help: t('activerecord.attributes.vehicle.price_help'), label: t('activerecord.attributes.vehicle.price')  %>
      <%= hrf.hidden_field :valid_from, value: Season.current.start_date %>
    <% end %>
    <%= f.label :activities %>
    <div id="activities" class="">
      <%= f.fields_for :vehicle_activity_assignments do |af| %>
        <%= render "vehicle_activity_assignment_fields", f: af %>
      <% end %>
      <div class="links form-group">
        <%= link_to_add_association t("views.vehicles.add_activity"), f, :vehicle_activity_assignments, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
    <hr>
    <%= f.form_group do %>
      <%= f.button type: :submit, class: 'btn btn-primary', data: { disable_with: is_processing } do %>
        <i class="fa fa-check"></i> <%= t('actions.save') %>
      <% end %>
    <% end %>
  <% end %>
</div>