<li class="list-group-item d-flex flex-row align-items-center">
  <div class="p-2">
    <stong><%= vehicle.display_name %></stong>
  </div>
  <div class="p-2 ml-2">
    <div><%= Activity.model_name.human(count: 2) %>:</div>
    <% vehicle.activities.pluck(:name).each do |name| %>
      <span class="badge badge-pill badge-secondary"><%= name %></span>
    <% end %>
  </div>
  <%= item_tools enabled: (local_assigns[:tools] && policy(vehicle).edit?) do %>
    <%= edit_button([current_company, vehicle]) %>
    <%= delete_button([current_company, vehicle])%>
  <% end %>
</li>