<%= title_row t("views.vehicles.edit_title") %>
<%= toolbar_row do %>
  <div class="col">
    <h4><%= link_to Vehicle.model_name.human(count: 3), company_vehicles_path(current_company) %> / <%= @record.name %></h4>
  </div>
<% end %>
<%= content_card do %>
  <%= render "form" %>
<% end %>