<%= content_card do %>
  <div class="card-header">
    <h2><%= t 'views.policies_and_terms.require_new_concent' %></h2>
  </div>
  <div class="card-body">
    <% if @user.terms_with_updates.empty? && @user.unchecked_terms.empty? %>
      <div class="alert alert-info">
        <%= t('views.policies_and_terms.no_new_terms') %>
      </div>
      <%= link_to t('common.back'), root_path, class: "btn btn-primary" %>
    <% else %>
      <%= render 'form' %>
    <% end %>
  </div>
<% end %>