<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <%= render 'shared/brand', brand_link: root_path %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto floar-right">
      <li class="nav-item">
        <%= link_to new_user_session_path, class: 'nav-link' do %>
          <%= t 'navbar.main.sign_in' %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'nav-link' do %>
          <%= t 'navbar.main.sign_up' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>