<nav class="navbar navbar-expand-lg navbar-dark bg-blue-dark border-bottom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if current_company %>
  <%= render 'shared/brand', brand_link: company_dashboard_path(current_company) %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= (controller_name == 'dashboard') ? 'active' : '' %>">
        <%= link_to company_dashboard_path(current_company), class: 'nav-link' do %>
          <i class="fa fa-tachometer"></i>
          <%= t 'navbar.companies.dashboard' %>
        <% end %>
      </li>
      <li class="nav-item <%= (controller_name == 'standby_dates') ? 'active' : '' %>">
        <%= link_to company_standby_dates_path(current_company), class: 'nav-link' do %>
          <i class="fa fa-calendar"></i>
          <%= t 'navbar.companies.stand_by_dates' %>
        <% end %>
      </li>
      <li class="nav-item <%= (controller_name == 'drives') ? 'active' : '' %>">
        <%= link_to company_drives_path(company_id: current_company.id), class: 'nav-link' do %>
          <i class="fa fa-truck"></i>
          <%= t 'navbar.companies.drives' %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if policy(current_company).edit? %>
      <li class="nav-item">
        <%= link_to edit_company_path(current_company), class: 'nav-link' do %>
          <i class="fa fa-cog"></i>
          <%= t 'navbar.companies.settings' %>
        <% end %>
      </li>
      <% end %>
      <% if current_user.has_driver? %>
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link' do %>
          <i class="fa fa-dashboard"></i> <%= t('navbar.main.my_dashboard') %>
        <% end %>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
          <i class="fa fa-sign-out"></i> <%= t('navbar.main.signout') %>
        <% end %>
      </li>
    </ul>
  </div>
  <% else %>
    <%= render 'shared/brand', brand_link: root_path %>
  <% end %>
</nav>