<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <%= render 'shared/brand' %>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= (controller_name == 'standby_dates') ? 'active' : '' %>">
        <%= link_to company_standby_dates_path(current_company), class: 'nav-link' do %>
          <i class="fa fa-calendar"></i>
          <%= t 'navbar.companies.stand_by_dates' %>
        <% end %>
      </li>
      <li class="nav-item <%= (controller_name == 'drives') ? 'active' : '' %>">
        <%= link_to company_drives_path(company_id: current_company.id), class: 'nav-link' do %>
          <i class="fa fa-truck"></i>
          <%= t 'navbar.companies.drives' %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <%= render 'shared/season_selector' %>
      <li class="nav-item">
        <%= link_to edit_company_path(current_company), class: 'nav-link' do %>
          <i class="fa fa-cog"></i>
          <%= t 'navbar.companies.settings' %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link' do %>
          <i class="fa fa-dashboard"></i> <%= t('navbar.main.my_dashboard') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
          <i class="fa fa-sign-out"></i> <%= t('navbar.main.signout') %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>