<% if current_company %>
<ul class="nav flex-column">
  <%= navbar_item("company/dashboard", "tachometer") %>
  <%= navbar_item("company/standby_dates", "calendar") %>

  <% if policy(current_company).index_drives? %>
    <%= navbar_item("company/tours", "truck", active: (controller_name == 'drives' || controller_name == 'tours')) %>
  <% end %>

  <li class="nav-section"><%= t 'sidenav.section.master_data' %></li>

  <% if policy(current_company).index_customers? %>
    <%= navbar_item("company/customers", "address-card") %>
  <% end %>

  <% if policy(current_company).index_hourly_rates? %>
    <%= navbar_item("company/hourly_rates", "money") %>
  <% end %>

  <% if policy(current_company).index_drivers? %>
    <%= navbar_item("company/drivers", "user") %>
  <% end %>

  <% if policy(current_company).index_vehicles? %>
    <%= navbar_item("company/vehicles", "truck") %>
  <% end %>

  <% if policy(current_company).index_activities? %>
    <%= navbar_item("company/activities", "hourglass-o") %>
  <% end %>

  <% if current_user.company_admin_or_owner?(current_company) %>
    <li class="nav-section"><%= t 'sidenav.section.settings' %></li>
    <% if policy(current_company).edit? %>
      <%= navbar_item("company_settings", "cog", path: edit_company_path(current_company), active: (controller_name == 'companies')) %>
    <% end %>
  <% end %>
</ul>
<% else %>
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to  setup_path, class: 'nav-link' do %>
        <i class="fa fa-arrow-left"></i>
        <%= t 'actions.back' %>
      <% end %>
    </li>
  </ul>
<% end %>