<% if current_company %>

<ul class="nav flex-column">
  <li class="nav-item <%= (controller_name == 'dashboard') ? 'active' : '' %>">
    <%= link_to company_dashboard_path(current_company), class: 'nav-link' do %>
      <i class="fa fa-tachometer"></i>
      <%= t 'navbar.companies.dashboard' %>
    <% end %>
  </li>
  <li class="nav-item <%= (controller_name == 'standby_dates') ? 'active' : '' %>">
    <%= link_to company_standby_dates_path(current_company), class: 'nav-link' do %>
      <i class="fa fa-calendar"></i>
      <%= t 'navbar.companies.stand_by_dates' %>
    <% end %>
  </li>
  <li class="nav-item <%= (controller_name == 'drives') ? 'active' : '' %>">
    <%= link_to company_drives_path(company_id: current_company.id), class: 'nav-link' do %>
      <i class="fa fa-truck"></i>
      <%= t 'navbar.companies.drives' %>
    <% end %>
  </li>

  <% if policy(current_company).edit? %>
    <li class="nav-item">
      <%= link_to edit_company_path(current_company), class: 'nav-link' do %>
        <i class="fa fa-cog"></i>
        <%= t 'navbar.companies.settings' %>
      <% end %>
    </li>
  <% end %>

  <li class="nav-section"><%= t 'sidenav.section.user' %></li>
  <% if current_user.has_driver? %>
    <li class="nav-item">
      <%= link_to root_path, class: 'nav-link' do %>
        <i class="fa fa-dashboard"></i> <%= t('navbar.main.my_dashboard') %>
      <% end %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to edit_user_registration_path, class: 'nav-link' do %>
      <i class="fa fa-cog"></i> <%= t('navbar.main.edit_registration') %>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
      <i class="fa fa-sign-out"></i> <%= t('navbar.main.signout') %>
    <% end %>
  </li>
</ul>
<% end %>