<li class="list-group-item d-flex flex-row align-items-center" id="company-member-<%= customer.id %>">
  <div class="p-2 col-4"><%= customer.display_name %><br><small><%= customer.details %></small></div>
  <div class="my-3 p-2">
    <%= customer.site_names %>
  </div>
  <%= item_tools do %>
    <%= edit_button([current_company, customer]) %>
    <% unless customer.drives.any? %>
      <%= delete_button([current_company, customer]) %>
    <% end %>
  <% end %>
</li>