<div id="company-member-form">
  <%= form_with(model: @customer, url: [current_company, @customer], builder: BootstrapFormBuilder, local: true) do |f| %>
    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :company_name %>
        <%= f.text_field :company_name %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-10">
        <%= f.label :street %>
        <%= f.text_field :street %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :nr %>
        <%= f.text_field :nr %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= f.label :zip %>
        <%= f.text_field :zip %>
      </div>
      <div class="form-group col-md-8">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' do %><i class="fa fa-check"></i><% end %>
    </div>
  <% end %>
</div>