<div class="card mt-3">
  <div class="card-header">
    <%= render 'navigation/company_edit_nav' %>
  </div>

  <div class="card-body">
    <h4 class="card-title"><%= link_to t('views.companies.customers.title'), company_customers_path(current_company) %> / <%= @customer.name %></h4>

    <h5><%= t'views.companies.customers.edit' %></h5>
    <%= form_for([current_company, @customer], builder: BootstrapFormBuilder) do |f| %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <%= f.label :street %>
          <%= f.text_field :street %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :nr %>
          <%= f.text_field :nr %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= f.label :zip %>
          <%= f.text_field :zip %>
        </div>
        <div class="form-group col-md-8">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' do %><i class="fa fa-check"></i><% end %>
      </div>
    <% end %>

  </div>
</div>