<div class="card mt-3">
  <div class="card-header">
    <%= render 'navigation/company_edit_nav' %>
  </div>

  <div class="card-body">
    <h4 class="card-title"><%= link_to t('views.companies.customers.title'), company_customers_path(current_company) %> / <%= @customer.name %></h4>

    <h5><%= t'views.companies.customers.new' %></h5>
    <%= render 'form' %>

  </div>
</div>