<head>
  <%= render 'layouts/ga' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render 'layouts/favicon' %>

  <title>FAHRZEIT.ch</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.config.google_maps_api_key+'&libraries=places' %>
  <%= javascript_include_tag 'https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js' %>
  <%= stylesheet_link_tag    'https://uicdn.toast.com/editor/latest/toastui-editor.css', media: 'all'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>