<!DOCTYPE html>
<html lang="de">
  <%= render 'layouts/head' %>
  <body>
    <% if company_view? %>
      <%= render 'navigation/navbar_company_view' %>
    <% else %>
      <%= render 'navigation/navbar_main' %>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= custom_bootstrap_flash %>
  </body>
</html>
