<%= title_row t('views.reports.title') %>
<%= toolbar_row do %>
  <div class="col">
  </div>
  <div class="col-3 button-group">
    <%= link_to t("views.reports.create_new"), new_company_tours_report_path, class: "btn btn-primary pull-right" %>
  </div>
<% end %>
<% if Feature.enabled?(:dynamic_reporting) %>
  <div class="alert alert-warning mt-3">
    <%= t("views.reports.legacy_reports_deprecation_info") %> <%= link_to t("navbar.dynamic_reports"), company_dynamic_reports_path(current_company) %>
  </div>
<% end %>
<% if @records.empty? %>
  <%= empty_message("reports") %>
<% else %>
  <%= content_card do %>
    <ul id="reports" class="list-group list-group-flush">
      <%= render partial: 'report', collection: @records, locals: { tools: true} %>
    </ul>
    <%= paginate @records %>
  <% end %>
<% end %>