<%= title_row t("views.reports.new") %>
<%= toolbar_row do %>
  <div class="col">
    <h4 class="card-title"><%= link_to t('views.reports.title'), company_tours_reports_path(current_company) %> / <%= t 'common.new' %></h4>
  </div>
<% end %>
<%= content_card(body: true) do %>
  <%= bootstrap_form_with model: [current_company, @report] do |f| %>
    <%= f.text_field :date_range, data: { daterange: { locale: {
      format: ToursReport::DATETIME_FORMAT_JS}, ranges: {
      "Diese Saison": current_season_as_js_array } } } %>
    <%= f.select :customer_id, options_from_collection_for_select(current_company.customers.order(:name), 'id', 'name', params[:driver_id]),
                 {include_blank: t('common.all')},
                 class: 'dropdown-select',
                 data: {s2: true} %>
    <%= f.submit %>
  <% end %>
<% end %>